@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&family=Montserrat:wght@500;600;700&family=Ramabhadra&display=swap');

html, body {
    overflow-x: hidden;
    background-color:#202020;  
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
    color: white;

}

.fa {
    text-decoration: none;
    
}

/* Navigation Bar */
main {
    padding-top: 170px;
}

nav {
    position: fixed;
    z-index: 1;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;

    height: 170px;
    background-color: rgb(34,40,46, 0.8);
    width: 100vw;
}

button.fa {
    border: none;
    color: white;
    font-size: 80px;
    padding-left: 40px;
    /* Also, not sure if this is the ideal solution to center the logo. */
    position: absolute; 
}

.logo {
    margin: 0 auto;
}

.logo-image {
    height: 120px;
    padding-left: 20px;
}

.logo-web {
    display: none;
}

.logo-web {
    display: none;
}

.menu {
    display: none;
    align-items: center;
    
}

div.menu-overlay {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding-top: 170px;

    background-color: rgb(34,40,46, 0.8);
    position: relative;
    z-index: 1;
    
}

.menu-item {
    font-size: 100px;
    color: white;
    margin-top: 20px;
}

@media (min-width: 1224px) {

    main {
        padding-top: 100px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        background-color: rgb(34,40,46, 0.8);
        height: 100px;
    }

    header {
        height: inherit;
    }

    button.fa {
        display: none;
    }

    .logo {
        margin: inherit;
    }
    .logo-image {
        height: 80px;
    }

    div.menu {
        display: flex;
        flex-direction: row;
        justify-content: left;

        height: inherit;
        padding-top: 0px;
        background-color: rgb(34,40,46, 0.8);
        position: fixed;
        width: inherit;
    }
 
    .menu-item {
        font-size: 25px;
        margin-top: 0;
        padding-right: 60px;
        font-family: inherit;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 1;
    }

}

/* Normal-Page Banner */

.banner {
    display: flex;
    flex-direction: column;
    z-index: 0;
    height: auto;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-image {
    width: 100%;
}

.banner-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 600;
    margin: 0px;
}

@media (min-width: 1224px) {

    .banner {
        text-align: justify;
    }

}

/* Normal Page Text */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-light {
    background-color: #4e5154;
}

.section-dark {
    background-color:#202020;  
}

.section-text {
    margin-top: -5px;
    margin-bottom: 0;
    padding: 100px;
}

h2.section-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
}

p.section-text {
    font-size: 40px;

}

/* Promotion Page */

.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 200px 50px 0 50px;
    background-color: #4e5154;
}


/* Page Item 1 (Left) */
.page-item-1 {
    flex-basis: 55%;
    text-align: center;
    flex-grow: 1;
    height: 700px;
}

.page-item-1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    font-size: 64px;
    text-align: left;
    margin-top: 10px;
    
}

.page-item-1 p {
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
}


.base-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.base-image {
    flex-basis: 50%;
    max-width: 400px;
    object-fit: contain;
    
}

.base-caption {
    flex-basis: 50%;
}

/* Page Item 2 (Right) */
.page-item-2 {
    flex-basis: 45%;
    text-align: center;
    flex-grow: 1;
}

iframe {
    padding-top: 100px;
    padding-left: 20px;
    min-width: 500px;
}

@media (min-width: 1224px) {
    
    .page-container {
        padding-top: 130px;

    }

    iframe {
        padding-top: 0px;
    }
}

/* Technology Page */
.banner-text.tech {
    padding: 100px;
}

.banner-image.tech {
    min-height: 400px;
    object-fit: cover;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.list-item {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-top: 80px;
}

.icon {
    height: 150px;
}

.list-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}
.list-text h3 {
    font-weight: 400;
}

/* Contact Page */

.contact-page {
    display: flex;
    flex-direction: column;
    background-color: #202020; /* or #4e5154 */
    align-items: center;
    
}


.contact-page iframe {
    margin-top: 20px;   
}

@media (min-width: 1224px) {

    .contact-page iframe {
        margin-top: 80px;   
    }
 
}

/* Form (for Admin Add Page) */

.form-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;   
}

input {
    margin: 20px;
}

.submit-button {
    width: 100px;
    margin-left: 0;
}

/* Store Buttons */

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: static;
    background-color: #202020;
    padding-top: 150px;

    width: 100vw;
    height: 10vh; 
    
}

.buttons > .fa {
    color: white;
    font-size: 60px;
    padding: 30px;
}

/* Store Products */

.products-page {
    margin-top: 0px;
    padding-top: 0px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;  
}

article {
    width: 80vw;
    height: 800px;
    margin-bottom: 10vw; 

    background-color:#4e5154;
    border-radius: 10px; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

article > * {
    color: white;
}

.product-header {
    font-size: 50px;
    margin-top: 40px;
    text-decoration: none;
    font-weight: 700;

}

article > h2 {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 5px;

}

article > h3 {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 10%;

}

.fake-image {
    width: 80%;
    height: 40%;
    background-color: blue;
}

/* Store Filter */

.store-filter {
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    
    background-color: white;
    width: 70vw;
    height: 100vh;
}

.store-filter > .fa-times {
    font-size: 100px;
    color: #202020;
    margin-top: 20px;
    margin-left: 40px;

}


/*
Monsterrat
Lora
Hindi Maduri
https://fonts.google.com/specimen/Hind+Vadodara
https://fonts.google.com/specimen/Hind+Vadodara
https://fonts.google.com/specimen/Rosario
*/