body {
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo-image {
    height: 80px;
    padding: 20px;
}

.menu {
    display: flex;

}

.menu-item {
    font-size: 25px;
    padding: 30px;
    font-family: inherit;
    color: #5d2590;

}

/* About Page */

.about {
    font-size: 32px;
    margin-left: 50px;
}


/* Promotion Page */
.two-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.two-column-item:last-child {
    width: 45vw;
    margin-top: 10px;
}

.two-column-item:first-child {
    width: 50vw;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 32px;
}



iframe {
    display: block;
    margin-right: 20px;
    background-color: white;
}

.base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.base-image {
    width: 50%;

}

.base-caption {
    width: 45%;
    font-size: 25px;
    margin-left: 30px;
    margin-top: -3px;
 


}







