body {
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: grey;
}


/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 40, 46);
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo-image {
    height: 80px;
    margin-left: 20px;
}

.menu {
    display: flex;

}

.menu-item {
    font-size: 25px;
    padding: 30px;
    color: white;
    font-family: inherit;
}






/* About Page */
.two-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 50px;
}

.two-column-item {
    width: 50vw;
}

.two-column-item:first-child {
    text-align: center;
    font-size: 36px;
}


/* Promotion Page */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
}

