body {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo-image {
    height: 80px;
    padding: 20px;
}

.menu {
    display: flex;

}

.menu-item {
    font-size: 25px;
    padding: 30px;
    font-family: inherit;
    color: #5d2590;

}

/* About Page */

.about {
    font-size: 32px;
    margin-left: 50px;
}


/* Promotion Page */
.two-column {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.two-column-item:last-child {
    margin-top: 10px;

}

iframe {
    display: block;
    background-color: white;
}

.two-column-item:first-child {
    max-width: 700px;
    margin-left: 40px;
    padding-right: 20px;
    font-size: 32px;

}

.base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.base-image {
    max-width: 300px;

}

.base-caption {
    max-width: 380px;
    max-height: 800px;
    font-size: 25px;
    margin-top: -3px;
    margin-left: 20px;

 
}







